:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.myclaster {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.8 !important;
  z-index: 100;
}
.myclaster:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: inherit;
  z-index: -1;

  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  filter: blur(3px);
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
}
.marker-cluster-green {
  background-color: #5fbd63;
}
.marker-cluster-yellow {
  background-color: #ffc862;
}
.camera-marker__container .camera-marker {
  display: flex;
  position: relative;
  height: 26px;
  min-height: 26px;
}

.camera-marker__container .camera-marker__icon {
  background: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='camera' class='svg-inline--fa fa-camera fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z'%3E%3C/path%3E%3C/svg%3E")
    center center/70% no-repeat;
  position: absolute;
  top: calc(50% - 13px);
  left: -8px;
  min-width: 26px;
  width: 26px;
  min-height: 26px;
  height: 26px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
}

.camera-marker__container .camera-marker__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 4px 5px 3px 21px;
  font-size: 0.625rem;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 9px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  line-height: inherit;
  height: auto;
  width: 200px;
}

.camera-marker__container .camera-marker--offline .camera-marker__icon {
  background-color: #b61b1b;
}
.camera-marker__container .camera-marker--offline .camera-marker__info {
  background-color: rgba(255, 222, 222, 0.9);
}
.camera-marker__container:hover .camera-marker__subtitle {
  display: block;
}
